body {
    font-family: Arial, sans-serif;
}

.question {
    margin-bottom: 20px;
}

#result {
    margin-top: 20px;
    font-size: 1.5rem;
}

.correct {
    color: green;
    font-weight: bold;
}

.wrong {
    color: red;
    font-weight: bold;
}
